.content{
    padding: 24;
    height: "100%";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.operation{
    display: flex;
    flex-direction: row;
}