.default{
    width: 680px;
    height: 80px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(45,61,112,1);
    border-radius: 45px;
    font-size: 30px;
    color: rgba(0,0,0,1);
    text-align: center;
    line-height: 80px;
    z-index: 999;
}
.default:active{
    color: rgba(0,0,0,.3);
}
.primary{
    width: 680px;
    height: 80px;
    background: linear-gradient(126deg, rgba(83,107,157,1) 0%,rgba(57,80,132,1) 100%);
    border-radius: 45px;
    font-size: 32px;
    color: rgba(255,255,255,1);
    text-align: center;
    line-height: 80px;
    z-index: 999;
}
.primary:active{
    color: rgba(255,255,255,.3);
}

.disabled{
    text-align: center;
    line-height: 80px;
    width: 680px;
    height: 80px;
    background: rgba(236,236,236,1);
    border-radius: 45px;
    font-size: 32px;
    color: rgba(186,186,186,1);
}