.body{
    display: inline-block;
}
.value{
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    color: #1D1F2B;
}
.img{
    margin-left: 11px;
    width: 32px;
    height: 32px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}