.body{
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 710px;
    height: 1069px;
    background: rgba(255,255,255,1);
    border-radius: 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    width: 240px;
    height: 240px;
}

.font{
    font-size: 26px;
    color: rgba(51,51,51,1);
}